include README.md
recursive-include octoprint_e3s1proforkbyttthumbnails/templates *
recursive-include octoprint_e3s1proforkbyttthumbnails/translations *
recursive-include octoprint_e3s1proforkbyttthumbnails/static *
